img {
    height: 20em;
    width: 20em;
    display: block;
    margin: auto;
    border-radius: 50%;
    box-shadow: 10px 10px 5px #656565;
}

body {
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    background-image: linear-gradient(60deg,cadetblue,aliceblue);
}

.qualite {
    display: block;
    min-width: 20em;
    padding: 1em;
    text-align: left;
    background-color: aliceblue;
    box-shadow: 10px 10px 5px #656565;
}

.defaults {
    display: block;
    min-width: 20em;
    padding: 1em;
    text-align: left;
    background-color: aliceblue;
    box-shadow: 10px 10px 5px #656565;
}

.joke {
    display: block;
    min-width: 20em;
    padding: 1em;
    text-align: center;
    background-color: aliceblue;
    box-shadow: 10px 10px 5px #656565;
}

.box {
    display: flex;
    justify-content: space-around;
}