img {
    height: 20em;
    width: 20em;
    display: block;
    margin: left;
    border-radius: 50%;
}

body {
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
}

.qualite {
    display: block;
    min-width: 20em;
    padding: 1em;
    text-align: left;
    background-color: aliceblue;
}

.defaults {
    display: block;
    min-width: 20em;
    padding: 1em;
    text-align: left;
    background-color: aliceblue;
}

.joke {
    display: block;
    min-width: 20em;
    padding: 1em;
    text-align: center;
    background-color: aliceblue;
}