ul {
    display: grid;
    grid: repeat(2, 15em) / auto-flow 20em;
    list-style-type: none;
    margin: 0 auto;
 }

 li {
     grid: 1fr;
 }

 img {
 border-radius: 50% ;
 border: solid white .5em;
 width: 10em;
 height: 10em;
}

h1 {
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-flow: column;
    background-color: black;
}
