html {
    width: 100%;
    height: 500px;
    background-color: paleturquoise;
    display: flex;
    justify-content: center;
    align-items: center
}


input {
    margin: 10px auto;
    width: 700px;
    height: 5em;
    justify-content: center;
    color: palevioletred;
    background-image: -moz-linear-gradient(to left, palegreen, paleturquoise);
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
}

h1 {
    margin: 0 auto;
    text-align: center;
    color: palevioletred;
    text-shadow: 5px 5px 1px white;
    font-family: 'Indie Flower', cursive;
    font-size: 4em;
}

a {
    text-decoration: none;
}

.main{
    background-color: palevioletred;

    height: 250px;
    width: 700px;    

    display:flex;
    justify-content: space-around;
    align-items: center;
}

.wagon1,
.wagon2,
.wagon3,
.wagon4 {
    display: flex;
    justify-content: space-around;
    position: relative;

    height: 75px;
    width: 150px;
    border-radius: 20% 20% 5% 5%;
    
    background-color: palegreen;

    animation: wagon 8s infinite linear;
}

@keyframes wagon {
    from{
        transform: translate(-1500px);
    }
    to{
        transform: translate(1500px)
    }
}

.wagon1::before,
.wagon2::before,
.wagon3::before {
    content: '';
    transform: rotate(90deg);
    height: 25px;
    width: 12px;
    background-color: grey;
    position: absolute;
    left: 157px;
    top: 45px;
}

.wagon4 .windows1 .windows2 {
    z-index: ;
}

.windows1,
.windows2,
.windows3 {
    height: 20px;
    width: 40px;
    border-radius: 20% 20% 0 0;
    margin-top: 22px;
    background-image: -moz-linear-gradient( to left, white, cyan) ;
    opacity: .8;
    z-index: 1;
}

.wagon4 .wagon1 {
    left: -10px;
}

.nose {
    height: 50px;
    width:150px;
    margin-top: 14px;
    margin-left: -125px;
    background-color: palegreen;
    border-radius: 35%;
    transform:rotate(10deg);
   
}
