html {
    width: 100%;
    height: 500px;
    background-color: paleturquoise;
    display: flex;
    justify-content: center;
    align-items: center
}

.main{
    background-color: palevioletred;

    height: 250px;
    width: 700px;    

    display:flex;
    justify-content: space-around;
    align-items: center;
}

.wagon1,
.wagon2,
.wagon3,
.wagon4 {
    display: flex;
    justify-content: space-around;
    position: relative;

    height: 75px;
    width: 150px;
    border-radius: 20% 20% 5% 5%;
    
    background-color: palegreen;

    animation: wagon 8s infinite linear;
}

@keyframes wagon {
    from{
        transform: translate(-1500px);
    }
    to{
        transform: translate(1500px)
    }
}

.wagon1::before,
.wagon2::before,
.wagon3::before {
    content: '';
    transform: rotate(90deg);
    height: 25px;
    width: 12px;
    background-color: grey;
    position: absolute;
    left: 157px;
    top: 45px;
}

.wagon4 .windows1 .windows2 {
    z-index: ;
}

.windows1,
.windows2,
.windows3 {
    height: 20px;
    width: 40px;
    border-radius: 20% 20% 0 0;
    margin-top: 22px;
    background-image: -moz-linear-gradient( to left, white, cyan) ;
    opacity: .8;
}

.nose {
    position: absolute;
    height: 50px;
    width:150px;
    top: 20px;
    left: 25px;
    background-color: palegreen;
    border-radius: 35%;
    transform:rotate(10deg);
}
